html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}
header {
  display: flex;
  flex-direction: row;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.autoTypedAnimationContainer {
  margin-top: 25px;
  height: 200px;
  width: 250px;
  /* max-width: 200px; */
}

@media (max-width: 430px) {
  .autoTypedAnimationContainer {
    max-width: 195px;
  }
}

@media (max-width: 400px) {
  .autoTypedAnimationContainer {
    margin-top: 15px;
    max-width: 120px;
  }
}

header {
  /* center everything inside */
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.autoTyped {
}

.swagProfile {
  float: left;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1e1e1d;
  }
}

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-columns: [row1-start] 15% [row2-start] ;
} */
